<html dir="ltr">
<head><title></title></head>
<body><!-- in body -->
<div id="sgmaincontent">
    <table cellspacing="0" summary="Outer table" cellpadding="0" width="100%" bgcolor="#ffffff">
        <tbody>
        <tr>
            <td valign="top" align="center">
                <table cellspacing="0" summary="Outer table2" cellpadding="0" width="551" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td valign="top" align="center">
                            <table id="instheader" border="0" cellspacing="0" summary="Header section" cellpadding="0"
                                   width="551" bgcolor="#ffffff" align="center">
                                <tbody>
                                <tr>
                                    <td height="32" valign="top" width="134">
                                        <div align="left"><span style="font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: 14px; text-decoration: none"><a href="http://click.foe.co.uk/c.html?ufl=3&amp;rtr=on&amp;s=x8pbzp,1gar4,3zk6,ct9k,616q,4ohv,cjk0&amp;MLM_MID=2440048&amp;MLM_UNIQUEID=355038ee00&amp;foe_id_contact_number=215131"><img
                                                border="0" alt="Friends of the Earth - See things differently" src="http://www.foe.co.uk/imgs/common/foe_email_logo.jpg"></a></span></div>
                                    </td>
                                    <td height="32" width="417" align="right">
                                        <div align="right"><span style="font-family: arial black,helvetica,verdana,sans-serif; color: #5a5a5a; font-size: 30px; text-decoration: none">Thank you<br></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div style="border-bottom: white 1px solid; border-left: white 1px solid; height: 4px; border-top: white 1px solid; border-right: white 1px solid"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#383777" height="24" width="134" align="center">&nbsp;</td>
                                    <td bgcolor="#383777" align="right"><span style="font-family: Arial, Helvetica, sans-serif; color: #ffffff; font-size: 14px; font-weight: bold; text-decoration: none">3 April 2013 &nbsp;</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br clear="all">
                            <table border="0" cellspacing="0" summary="Main content2" cellpadding="0" width="551" align="center">
                                <tbody>
                                <tr class="enews_intro">
                                    <td align="left" style="padding-bottom: 20px; padding-top: 20px">
                                        <p>{% if name %}Dear {{ name }}{% else %}Hi there{% endif %}</p>
                                        <p><img border="0" alt="" align="right" width="250" height="160" src="http://www.foe.co.uk/static/imgs/bee_map1_313_rdax_250x160.jpg"></p>
                                        <p>Thanks for submitting your Bee Garden.  It's now been approved.  You can view it on the map <a href="https://www.foe.co.uk/what_we_do/the_bee_cause_home_map_39371.html?{% if uid %}uid={{ uid }}{% endif %}">here</a>.</p>
                                </tr>
                                <!-- SHARE BUTTONS -->
                                <tr>
                                    <td align="center"><p style="margin: 0px; font-size: 14px; font-weight: bold">We want to cover the UK in wildflowers, please share this with your friends to make this happen</p>
                                        <table border="0" cellspacing="0" summary="Share Buttons" cellpadding="0" width="324" align="center">
                                            <tbody>
                                            <tr>
                                                <td height="97" width="108" align="center">
                                                    <a title="Like this on Facebook" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[url]=https://www.foe.co.uk/what_we_do/bee_cause_donate_get_bee_saver_kit_39413.html%3Fpin%3D{{ uid }}&p[images][0]=http://www.foe.co.uk/imgs/bee_fb.jpg&p[title]=Get%20your%20Bee%20Saver%20Kit&p[summary]=I%20just%20got%20my%20Bee%20Saver%20Kit%20by%20donating%20to%20Friends%20of%20the%20Earth.%20Join%20the%20people%20helping%20create%20bee%20friendly%20spaces%20all%20over%20the%20country%20today%20to%20save%20Britain%27s%20Bees.">
                                                        <img border="0" alt="Facebook" style="margin-top: 20px" src="https://www.foe.co.uk/imgs/facebook_55.jpg">
                                                    </a>
                                                    <br>
                                                    <p class="small; margin:0px" style="text-align: center">
                                                        <a title="Facebook" target="_blank" style="color: #336600; text-decoration: none" href="http://www.facebook.com/sharer.php?s=100&p[url]=https://www.foe.co.uk/what_we_do/bee_cause_donate_get_bee_saver_kit_39413.html%3Fpin%3D{{ uid }}&p[images][0]=http://www.foe.co.uk/imgs/bee_fb.jpg&p[title]=Get%20your%20Bee%20Saver%20Kit&p[summary]=I%20just%20got%20my%20Bee%20Saver%20Kit%20by%20donating%20to%20Friends%20of%20the%20Earth.%20Join%20the%20people%20helping%20create%20bee%20friendly%20spaces%20all%20over%20the%20country%20today%20to%20save%20Britain%27s%20Bees."><strong>Facebook</strong></a>
                                                    </p>
                                                </td>
                                                <td height="97" width="108" align="center">
                                                    <a title="Share Via Twitter" target="_blank" href="http://twitter.com/share?text=I%20just%20got%20my%20Bee%20Saver%20Kit.%20Help%20create%20bee%20friendly%20spaces%20all%20over%20the%20country%20today%20to%20save%20Britain%27s%20Bees%20%40wwwfoecouk">
                                                        <img class="imagetwitter" border="0" alt="Twitter" style="margin-top: 20px" src="https://www.foe.co.uk/imgs/twitter_55.jpg">
                                                    </a>
                                                    <br>
                                                    <p class="small; margin:0px" style="text-align: center">
                                                        <a title="Tweet" target="_blank" style="color: #336600; text-decoration: none" href="http://twitter.com/share?text=I%20just%20got%20my%20Bee%20Saver%20Kit.%20Help%20create%20bee%20friendly%20spaces%20all%20over%20the%20country%20today%20to%20save%20Britain%27s%20Bees%20%40wwwfoecouk"><strong>Twitter</strong></a>
                                                    </p>
                                                </td>
                                                <td height="97" width="108" align="center">
                                                    <a title="Email" href="mailto:contactus@newsletter.foe.co.uk?subject=Bees Campaign">
                                                        <img class="imageemail" border="0" alt="Email a friend" style="margin-top: 20px" src="https://www.foe.co.uk/imgs/appeal_send_friend55.jpg">
                                                    </a>
                                                    <br>
                                                    <p class="small; margin:0px" style="text-align: center">
                                                        <a title="Email" style="color: #336600; text-decoration: none" href="mailto:contactus@newsletter.foe.co.uk?subject=Bees Campaign"><strong>Email</strong></a>
                                                    </p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- SHARE BUTTONS -->
                                <tr>
                                    <td>
                                        <hr>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <br clear="all">
                            <table border="0" cellspacing="0" summary="Footer" cellpadding="0" width="551" align="center">
                                <tbody>
                                <tr id="instfooter">
                                    <td bgcolor="#383777" height="2" width="134" align="center"><a style="font-family: Arial, Helvetica, sans-serif; color: #ffffff; font-size: 14px; font-weight: bold; text-decoration: none" href="http://click.foe.co.uk/c.html?ufl=3&amp;rtr=on&amp;s=x8pbzp,1gar4,3zk6,grmq,mfb1,4ohv,cjk0&amp;MLM_MID=2440048&amp;MLM_UNIQUEID=355038ee00&amp;foe_id_contact_number=215131">Contact us</a></td>
                                    <td bgcolor="#383777" align="right"><span style="font-family: Arial, Helvetica, sans-serif; color: #ffffff; font-size: 14px; font-weight: bold; text-decoration: none">Thank you for your support&nbsp;</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p>If you're having problems viewing this email, you can <a target="_blank" href="http://click.foe.co.uk/c.html?ufl=3&amp;rtr=on&amp;s=x8pbzp,1gar4,3zk6,dm14,5u1r,4ohv,cjk0&amp;MLM_MID=2440048&amp;MLM_MLID=186054&amp;MLM_SITEID=2010002677&amp;MLM_UNIQUEID=355038ee00">view it as webpage instead. </a></p>

    <p>
        This email was sent to
        <span style="color: #339966">
            <a href="mailto:{{ email_address }}">
                <span style="color: #339966">{{ email_address }}</span>
            </a>
        </span>
        by
        <span style="color: #339966">
            <a href="mailto:contactus@newsletter.foe.co.uk">
                <span style="color: #339966">contactus@newsletter.foe.co.uk</span>
            </a>
        </span>.
    </p>
</div>
</body>
</html>