{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Could not log in with that username and password.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <button class="btn" type="submit">Login</button>
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'moderation-home' %}{% endif %}" />
    </form>
{% endblock %}
